# .ebextensions/cloudwatch-agent.config
packages:
  yum:
    amazon-cloudwatch-agent: []   # install CloudWatch Agent

commands:
  01-start-cwagent:
    command: |
      /opt/aws/amazon-cloudwatch-agent/bin/amazon-cloudwatch-agent-ctl \
        -a fetch-config \
        -m ec2 \
        -c ssm:_CLOUDWATCH_CONFIG_PARAMETER_ \
        -s
